<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://startupconnector.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>startupconnector.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>startupconnector</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$startupconnector</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="StartupConnectorDB" Order="2" Enabled="False">
          <Destination Path="Data Source=startupconnector.database.windows.net;Initial Catalog=startupconnector;Persist Security Info=True;User ID=startupdbadmin;Password=C9dqfX4n3vezzZfQ" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="startupconnector.DAL.StartupConnectorDB, startupconnector" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StartupConnectorDB-Web.config Connection String">
      <ParameterValue>Data Source=startupconnector.database.windows.net;Initial Catalog=startupconnector;Persist Security Info=True;User ID=startupdbadmin;Password=C9dqfX4n3vezzZfQ</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>